<% if @user.profile.present? %>
	<div> <%= @user.profile %> 
		<% if current_user == @user %>
			<%= link_to "Edit", edit_user_path(current_user) %></div>
		<% end %>
<% else %>
	<div> Profile is not present. Make one at 
		<% if current_user() %>
			<%= link_to "Settings", edit_user_path(current_user) %></div>
	<% end %>
<% end %>
